/* Webfont: Calluna-It */@font-face {
    font-family: 'Calluna';
    src: url('Calluna-It.eot'); /* IE9 Compat Modes */
    src: url('Calluna-It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Calluna-It.woff') format('woff'), /* Modern Browsers */
         url('Calluna-It.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Calluna-It.svg#Calluna-It') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

