$background: white
$primary-color: #333
$highlight-color: #4764BB

@import 'normalize'
@import 'font-face'
@import 'mixins'

@import 'sass-flexbox-mixins/grid-variables'
@import 'sass-flexbox-mixins/visibility-mixins'
@import 'sass-flexbox-mixins/grid-mixins'
@import 'sass-flexbox-mixins/grid-breakpoints'


+font-face('Calluna', '/styles/fonts/Calluna-Regular', normal, normal)
+font-face('Calluna', '/styles/fonts/Calluna-Semibold', 600, normal)
+font-face('Calluna', '/styles/fonts/Calluna-It', normal, italic)

// @import 'default'

=semibold
  font-weight: 600

=header-text
  font-variant: small-caps
  +semibold

=italic
  font-style: italic

=sans
  font-family: -apple-system, verdana, "Lucida Grande", "Lucida Sans Unicode", helvetica, arial, sans-serif

body
  background: $background
  color: $primary-color
  font-family: "Calluna", "Times New Roman", Times, serif
  text-align: center

p
  line-height: 1.3

a
  color: $highlight-color
  text-decoration: none
  +semibold

.logo
  background: url(/z.svg);
  $size: 88px
  height: $size
  width: $size
  background-size: $size
  margin: 50px auto 30px

.site-name
  font-size: 3em
  color: $primary-color
  +header-text

.site-name-subtitle
  +italic
  margin-top: 0
  margin-bottom: 3em

.italic
  +italic

ul
  list-style-type: none
  padding: 0

h1
  +header-text

.content
  max-width: 760px
  margin: 0 auto

.portfolio
  text-align: left

  .headline-container
    +row
    +col(12)
    +col-offset("sm", 3)
    +col("sm", 9)

    +tiny
      text-align: center
    +small
      text-align: left

    padding-top: 0px
    padding-bottom: 0px

    h1
      background-color: $background
      margin-top: 10px
      margin-bottom: 0px

      +tiny
        text-align: center
        margin: 10px auto 0
      +small
        text-align: left

      &:before,
      &:after
        content: ""
        position: absolute
        width: 8px
        height: 1em
        background-color: $background
      &:before
        margin-left: -8px
      &:after
        margin-right: -8px


    // Line that goes across headline
    &:after
      content: ""
      position: absolute
      background: $primary-color
      left: 0
      right: 0
      margin-top: 25px
      height: 3px
      z-index: -1

  .item-description
    +row
    +end

    >ul
      +col(4)
      +col("sm", 3)

      +tiny
        text-align: center
      +small
        text-align: right

    >div
      +col(8)
      +col("sm")

  p
    padding-right: 6px

  a.app-icon
    display: inline-block
    text-align: center
    padding: 6px 0px
    margin: 6px 0 0
    +sans
    text-decoration: none
    color: $primary-color
    font-weight: normal

    &:hover
      background-color: rgba(0, 0, 0, 0.1)
      border-radius: 12px

  figure
    margin: 6px 2px

  $icon-width: 68px

  img
    padding-bottom: 2px
    width: $icon-width

  figcaption
    +tiny
      width: $icon-width + 36
      font-size: 0.8em
    +small
      width: $icon-width + 50




