@import 'normalize'
@import 'font-face'
@import 'mixins'

@import 'sass-flexbox-mixins/grid-variables'
@import 'sass-flexbox-mixins/visibility-mixins'
@import 'sass-flexbox-mixins/grid-mixins'
@import 'sass-flexbox-mixins/grid-breakpoints'


+font-face('Calluna', '/styles/fonts/Calluna-Regular', normal, normal)
+font-face('Calluna', '/styles/fonts/Calluna-Semibold', 600, normal)
+font-face('Calluna', '/styles/fonts/Calluna-It', normal, italic)


$textColor: #333
// $textColor: white
$textInvertedColor: #333

$highlightColor: #4764BB
// $highlightColor: #5e6aa0
// $highlightColor: #4d639c
// $highlightColor: #375686

$background: white

$cornerRadius: 16px

=semibold
  font-weight: 600

=header-text
  font-variant: small-caps
  +semibold

=italic
  font-style: italic

=sans
  font-family: -apple-system, verdana, "Lucida Grande", "Lucida Sans Unicode", helvetica, arial, sans-serif

=paperBg
  background: $background
  // background: url(/bg-texture.svg);
  // background-position: center

body
  +paperBg
  color: $textColor
  font-family: "Calluna", "Times New Roman", Times, serif
  text-align: center


p
  line-height: 1.3

a
  color: $highlightColor
  text-decoration: none
  +semibold

header

nav
  +row
  // text-align: center

  ul
    +clearfix
    margin: 0 auto

  li
    float: left
    padding: 8px

.logo
  background: url(/z.svg);
  $size: 88px
  height: $size
  width: $size
  background-size: $size
  margin: 50px auto 30px

.site-name
  font-size: 3em
  color: $textColor
  +header-text

.site-name-subtitle
  +italic
  margin-top: 0
  margin-bottom: 3em

.italic
  +italic

ul
  list-style-type: none
  padding: 0

h1
  +header-text

.content
  max-width: 960px
  margin: 0 auto

article
  text-align: left
  +row

  .article-content
    +col-offset(3)

  ul.tags
    +col-offset(3)

    a
      padding: 7px 12px 5px
      color: white
      border-radius: $cornerRadius
      background-color: lighten($highlightColor, 16)

      &:hover
        background-color: $highlightColor






@import 'portfolio'



