/* Webfont: Calluna-Regular */@font-face {
    font-family: 'Calluna';
    src: url('Calluna-Regular.eot'); /* IE9 Compat Modes */
    src: url('Calluna-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Calluna-Regular.woff') format('woff'), /* Modern Browsers */
         url('Calluna-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Calluna-Regular.svg#Calluna-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

